.content-img{
    background-image: url("https://www.altissia.org/_next/image?url=https%3A%2F%2Fuploads-prod-altissia-org.s3.eu-central-1.amazonaws.com%2Fuploads%2F2022%2F7%2F11%2FOFPPT_arrondi_droite_01_e23b2d98f2.png&w=1920&q=75");
    width: 100%;
    height: 100%;
    background-repeat:no-repeat ;
    background-size: cover;
}
pre {
    background-color: #212529;
    font-size: 1.1rem;
    color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.mymodal.show{
    display: flex ;
}

.mymodal{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.228);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.mymodal .mymodal-content{
    overflow: auto;
    background-color: aliceblue;
    border-radius: 5px;
}
.mymodal .mymodal-content-header{
    border-bottom: 1px solid #545454;
    

}
.mymodal .mymodal-content-title{
    padding: 10px 20px 5px;
}
.mymodal .mymodal-content-desc{
    padding: 10px 20px;
}
.oldlevel,.currentLevel{
    border-radius:10% 40%;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:25px;
    background-repeat:no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.oldlevel::before,.currentLevel::before{
    content: "";
    background-color: #ba2d0b;
background-image: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}
.currentLevel::before{
    background-color: #f71735;
background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%);}